* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    width: 100%;
    background-color: orange;
    background-position: center;
    background-size: cover;
    position: fixed;
}

.navbar {
    width: cover;
    height: 100px;
    margin: auto;
    background-color: orange;

}

.icon {
    width: 10px;
    float: left;
    height: 100px;

}

.logo {
    color: darkgrey;
    height: 50px;
    width: 200px;
    font-size: 45px;
    margin-left: 10px;

}

.logo1 {
    color: black;
    height: 50px;
    width: 200px;
    font-size: 25px;
    margin-left: 10px;

}



.menu {
    width: 100px;
    float: left;
    height: 70px;
    padding-left: 600px;
}

ul {
    float: left;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

}

ul li {
    margin-left: 100px;
    list-style: none;
    margin-left: 90px;
    margin-top: 27px;
    font-size: 17px;

}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    transition: 0.4s ease-in-out;
    position: fixed;

}

ul li a:hover {
    color: black;
}

.lang {
    padding-top: 100px;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 200px;
    color: cornflowerblue;
    font-family: cursive;
}

.lang :hover {
    color: rgb(48, 115, 239);
}


.video {
    margin-top: 80px;
    margin-left: 200px;
}



.vid_a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vid_b {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vid_c {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about1 {

    margin-right: 500px;
    margin-top: 200px;
    padding-top: 100px;
}

.about {
    padding-right: 70px;
    text-align: right;
    font-size: 30px;
    color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.about :hover {
    color: rgb(48, 115, 239);
}



.detail {
    padding-top: 10px;
}


.detail pre {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;

}

.image_a {
    margin-top: 200px;

}



.footer {
    width: cover;
    height: 150px;
    margin: auto;
    background-color: orange;
}

.footer .contact {
    margin-left: 30px;
    margin-top: 250px;

    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);

}

.footer .info {
    margin-left: 31px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
}